h3 {
	text-align: center;
}

#button_holder, #myBtns {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn {
	width: 60px;
	height: 30px;
	margin: 4px;
}

.btn2 {
	width: 4vw;
}

.play_again {
	border-style: none;
}